@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
  .clip_path{clip-path: polygon(50% 0%, 91% 0, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 0);
  }

  .open:hover span{
    @apply block;
  }
}

.showup{
  display: none;
}

::-webkit-scrollbar{
  width: 10px;
background: rgb(214, 206, 206);
}

::-webkit-scrollbar-thumb{
  background: #81A8E0;
  font-size: 2px;
}

.contact{
  direction: rtl;
}